.header {
    background-color: #33a360;
    color: #e3ffef;
	padding: 1px 30px 10px;
	margin: 20px;
	box-shadow: 5px 5px 15px 5px black;
}

.header > h1 {
	font-size: 60px;
	color: #40ff68
}

.header > h3 {
	text-align: right;
}

.main_body {
	margin: 30px;
	font-size: 20px;
}

#headshot {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	box-shadow: 5px 5px 15px 5px black;
}

body {
    background-color: #e3ffef;
    font-family: 'Nunito', sans-serif;
}

h3 > a {
	color: #e3ffef;
}