.header {
    background-color: #33a360;
    color: #e3ffef;
	padding: 1px 30px 10px;
	margin: 20px;
	box-shadow: 5px 5px 15px 5px black;
}

.header > h1 {
	font-size: 60px;
	color: #c8ffc8;
}

.header > h3 {
	text-align: right;
}

.main_body {
	margin: 30px;
	font-size: 20px;
}

#headshot {
	display: block;
	width: 300px;
}

body {
    background-color: #e3ffef;
    font-family: 'Nunito', sans-serif;
}

h3 > a {
	color: #e3ffef;
}

table, #headshot {
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 15px 5px black;
}

tr:nth-child(2n+1) {
	background-color: #d8ffd8;
}

.semester {
	background-color: #e0f4e8;
}

th {
	background-color: #33a360;
	font-size: 28px;
	color: #e3ffef;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px 15px;
}