---
title: Coursework
header: Previous Relevant Coursework
---

<p>
  Use the tabs to view previous classes I have taken at Ohio State, organized by semester.
  For each course, there is a link that provides more information about the content of the course.
</p>

<% data.coursework.each do |s| %>
  <p><%= s %></p>
<% end %>

<!-- Semester tabs (to be filled out with ERB, hard-coding first) -->
<nav>
  <div class="nav nav-tabs" id="semesters" role="tablist">
    <a class="nav-link link-success active" id="nav-au18-tab" data-bs-toggle="tab" href="#nav-au18" role="tab"
       aria-controls="nav-au18" aria-selected="true">Autumn 2018</a>
    <a class="nav-link link-success" id="nav-sp19-tab" data-bs-toggle="tab" href="#nav-sp19" role="tab"
       aria-controls="nav-sp19" aria-selected="false">Spring 2019</a>
    <a class="nav-link link-success" id="nav-au19-tab" data-bs-toggle="tab" href="#nav-au19" role="tab"
       aria-controls="nav-au19" aria-selected="false">Autumn 2019</a>
  </div>
</nav>

<!-- Tab content (to be filled with partials and more ERB) -->
<div class="tab-content" id="semestersContent">
  <div class="tab-pane fade show active" id="nav-au18" role="tabpanel" arialabelledby="nav-au18-tab">
    <p>TODO: Classes for AU18</p>
  </div>
  <div class="tab-pane fade" id="nav-sp19" role="tabpanel" arialabelledby="nav-sp19-tab">
    <p>TODO: Classes for SP19</p>
  </div>
  <div class="tab-pane fade" id="nav-au19" role="tabpanel" arialabelledby="nav-au19-tab">
    <p>TODO: Classes for AU19</p>
  </div>
</div>