@import "bootstrap.min.css";

/* variables */
$green: rgb(25, 135, 84);

/* functions - from Bootstrap */

// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

// Shade the color if the weight is positive, else tint it
@function shift-color($color, $weight) {
  @return if($weight > 0, shade-color($color, $weight), tint-color($color, -$weight));
}

/* styling */

body {
  margin-top: 80px;
  margin-bottom: 20px;
}

#logo {
  font-size: 24px;
  font-weight: bolder;
}

.page-header {
  margin: 20px 0;
  font-weight: 700;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  &.bio {
    padding-bottom: 20px;
  }
}

code, a {
  color: $green;
}

a:hover {
  color: tint-color($green, 25%);
}

.accordion-button {
  &:not(.collapsed) {
    background-color: tint-color($green, 80%);
    color: $green;

    &::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23198754'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
  }

  &:focus {
    border-color: tint-color($green, 80%);
    box-shadow: 0 0 0 .25rem rgba($green, .25);
  }
}

.btn-home {
  margin-top: 20px;
}

.disclaimer {
  margin-top: 35px;
}