<nav class="navbar fixed-top navbar-dark bg-success">
  <div class="container">
    <!-- logo --->
    <%= link_to 'Zachary Baruch', 'index', class: 'navbar-brand' %>

    <!-- main navbar items --->
    
  </div>
</nav>