@import url(bootstrap.min.css);
/* variables */
/* functions - from Bootstrap */
/* styling */
body {
  margin-top: 80px;
  margin-bottom: 20px; }

#logo {
  font-size: 24px;
  font-weight: bolder; }

.page-header {
  margin: 20px 0;
  font-weight: 700; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto; }
  img.bio {
    padding-bottom: 20px; }

code, a {
  color: #198754; }

a:hover {
  color: #53a57f; }

.accordion-button:not(.collapsed) {
  background-color: #d1e7dd;
  color: #198754; }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23198754'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

.accordion-button:focus {
  border-color: #d1e7dd;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25); }

.btn-home {
  margin-top: 20px; }

.disclaimer {
  margin-top: 35px; }
