---
title: Coursework
header: Previous Relevant Coursework
---

<p>
  Use the tabs to view previous classes I have taken at Ohio State, organized by semester.
  To see more information for each course, simply click on the dropdown for the corresponding course.
</p>

<%# Orders the semester keys by its idx property %>
<% cw = data.coursework %>
<% semesters = cw.keys.sort_by { |id| cw[id].idx } %>

<%= partial 'layouts/tabs', locals: { hsh: cw, keys: semesters, tab_content: 'layouts/coursework/accordion' } %>
<%= partial 'layouts/home_button' %>