<div class="row">
  <div class="col-lg-8">
    <p>I am currently in my third year at The Ohio State University, pursuing a major in Computer & Information
      Science and a double-minor in Mathematics and Music. Additionally, I was a Student Instructional
      Assistant for the Department of Computer Science and Engineering.</p>
    <hr />
    <p>Please use the links above to view information about my resume, prior coursework, and personal projects.</p>
  </div>
  <div class="col-lg-4">
    <%= image_tag 'Headshot2.jpg', width: '75%' %>
  </div>
</div>