---
title: Welcome to Middleman
---

<div class="container">
  <div class="alert alert-success">
    <h1 class="alert-heading">Hello, world!</h1>
    <hr />
    <p>If everything goes well, then Bootstrap should work!</p>
  </div>
</div>