<div class="alert alert-success">
  <h1 class="alert-heading">Hello, world!</h1>
  <hr />
  <p>If everything goes well, then Bootstrap should work!</p>
</div>

<%= link_to 'test link', 'pages/about', class: 'btn btn-lg btn-success'%>