---
title: Projects
header: Personal Projects
---

<p>
  Use the tabs to view personal projects and projects that I have completed for coursework, organized by completion status.
  To see more information for each project, simply click on the dropdown for the corresponding project.
</p>