---
title: Resume
header: My Current Résumé
---

<p>
  This is a detailed version of my resume, containing information about my education,
  work experience, and relevant skills. You can access my "official" resume <%= link_to 'here', 'misc/resume_current.pdf' %>.
</p>

<%# Orders the category keys by its idx property %>
<% resume = data.resume %>
<% categories = resume.keys.sort_by { |id| resume[id].idx } %>

<%= partial 'layouts/tabs', locals: { hsh: resume, keys: categories, tab_content: 'layouts/resume/accordion' } %>
<%= partial 'layouts/home_button' %>